@import url("colors.css");

* {
    font-size:15px;
    font-family: "JetBrains Mono";
    color: @on_primary_container;
}

window#waybar{
    all:unset;
}

.modules-left {
    padding:7px;
    margin:10px 0px 5px 10px;
    border-radius:10px;
    background: alpha(@primary_container,.6);
    box-shadow: 0px 0px 3px alpha(@outline, .6);
} 
.modules-center {
    padding:7px;
    margin:10px 0px 5px 0px;
    border-radius:10px;
    background: alpha(@primary_container,.6);
    box-shadow: 0px 0px 3px alpha(@outline, .6);
}
.modules-right {
    padding:7px;
    margin: 10px 10px 5px 0px;
    border-radius:10px;
    background: alpha(@primary_container,.6);
    box-shadow: 0px 0px 3px alpha(@outline, .6);
}
/* 
================================
Submap MODULE STYLING
================================ 
*/

#submap {
    padding: 6px 12px;
    margin: 0 8px;
    border-radius: 8px;
    background: alpha(@primary_container, 0.6);
    box-shadow: 0 0 3px alpha(@outline, 0.4);
    min-width: 140px;  /* Adjust as needed */
    font-size: 13px;
    color: @on_primary_container;
}

/* 
================================
WORKSPACE MODULE STYLING
================================ 
*/
#workspaces button {
  /*padding: 0 6px;*/
  background: transparent;
  border: none;
}

#workspaces button.active {
  border: 2px solid @primary;
  border-radius: 50%;
  padding: 2px 6px;
  margin: 2px;
  background-color: @primary;
}

/* Active label color change */
#workspaces button.active label {
  color: @on_primary;  /* Set your active text color here */
}

#workspaces button:not(.active) label {
  color: @on_primary_container;  /* Set a different color for non-active workspaces */
}

/* 
================================
BLUETOOTH MODULE STYLING
================================ 
*/
#bluetooth{
    padding: 0px 10px;
    transition: all .3s ease;
}

/*
================================
NETWORK MODULE STYLING
================================ 
*/
#network{
    padding: 0px 10px;
    transition: all .3s ease;
}
#network.disconnected{
    color:#FF0000;
}

/* 
================================
BATTERY MODULE STYLING
================================ 
*/
#battery{
    padding: 0px 10px;
    transition: all .3s ease;
}

#battery.charging {
    color: #FFFF00;
}

#battery.critical:not(.charging) {
    color: #FF0000;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
